.benefits__title {
  margin-bottom: 20px;
}

.benefits__list {
  @include ulres;
  margin-left: 80px;
}

.benefits__item {
  padding-bottom: 32px;
  font-family: $second-font;
  font-weight: $regular;
  font-size: 14px;
  line-height: 18px;
}
