.benefits__list {
  @include listDischarge;
  width: 200px;
  margin-top: 23px;
  margin-right: 46px;
  margin-left: auto;
}

.benefits__item {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 32px;
}
