.catalog__list {
  @include ulres;
}

.catalog__item {
  border-bottom: 1px solid #ededed;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__title {
  text-transform: uppercase;
  font-weight: $regular;
  color: $black;
}

.catalog__field {
  font-family: $second-font;
  font-weight: $regular;
  font-size: 12px;
  line-height: 16px;
}

.catalog__value {
  padding-left: 66px;
  font-family: $second-font;
  font-weight: $regular;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.catalog_button {
  margin-top: 23px;
}
