.example {
  padding-top: 15px;
  padding-bottom: 40px;
  background-color: $bg-main-color;
}

.example__text {
  font-family: $second-font;
  font-weight: 400;
}

.example__list {
  @include ulres;

  font-family: $second-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.example__item {
  &--bold {
    font-family: $main-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #111111;
  }
}

.example__cost {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
}

.slider__controll {
  @include inres;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
