.features {
  margin-bottom: 16px;
}

.features__list {
  @include ulres;
}

.features__item {
  background-color: $bg-main-color;
  margin-top: 22px;
  padding-left: 21px;
  padding-right: 36px;
  padding-top: 24px;
}

.features__title {
  margin-left: 70px;

  color: #111111;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.features__links {
  display: block;
  padding-top: 44px;
  padding-bottom: 22px;

  color: #111111;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.features__describe {
  font-family: $second-font;
  font-weight: 400;
}
