.page-header__logo-wrapper {
  border-bottom: 1px solid #ededed;
  padding: 11px 20px 15px;
}

.page-header__logo {
  display: block;
  width: 191px;
  height: 39px;

  img {
    &:active {
      opacity: 0.6;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
