.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 60px;
  }
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding: 11px 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.page-header__logo {
  display: block;
  width: 191px;
  height: 39px;

  img {
    &:active {
      opacity: 0.6;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 59px;
  }
}

.page-header__button {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
