.site-list {
  @include listDischarge;
}

.site-list__item {
  @include upper;
  font-family: $main-font;
  font-weight: $regular;
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  border-bottom: 1px solid #ededed;
}

.site-list__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #111111;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }
}
