.site-list {
  @include ulres;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 22px;
    padding-bottom: 8px;
  }
}

.site-list__item {
  border-bottom: 1px solid #ededed;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    border: none;

    font-size: 18px;
    line-height: 25px;

    &:not(:last-child) {
      margin-right: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.site-list__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #111111;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 10px;

    &--active {
      border-bottom: 2px solid #68b738;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  @media (min-width: $desktop-width) {
    &--white {
      color: #ffffff;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--active.site-list__link--white {
    border-color: #ffffff;
  }
}
