*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: $main-font;
  font-weight: 400;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-title {
  padding: 0 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.button {
  @include inres;
  display: block;
  padding: 12px 0;
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #68b738;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &--light-grey {
    background-color: #f2f2f2;
    color: #444444;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
