*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 18px;

  color: #444444;

  font-family: "ArialMT", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
