@import "../../node_modules/node-normalize-scss/normalize";
@import "global/fonts";
@import "global/mixins";
@import "global/variables";
@import "global/global";
@import "global/container";
@import "blocks/site-list";
@import "blocks/program";
@import "blocks/page-header";
@import "blocks/features";
@import "blocks/benefits";
@import "blocks/page-footer";
@import "blocks/catalog";
@import "blocks/page-main";
@import "blocks/example";
@import "blocks/contacts";
@import "blocks/extra";
@import "blocks/order";
